.topic{
  background-color: antiquewhite;
  display: inline;
  padding: 0 1rem;
}

/* .final {
  width: 30%;
  margin: auto;
} */

/* .container {
  display:flex;
  gap: 1rem;
} */

/* .abc {
  width: 70%;
} */